{
    "rules": {
        "no-restricted-imports": [
            "error",
            {
                "patterns": [
                    "@mui/*/*/*"
                ]
            }
        ]
    },
    "plugins": [
        "mui-unused-classes"
    ]
}